/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.promo {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.promo__image {
  width: 100%;
}
.promo .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.promo { text-align: center;
}
}
.main-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-wrapper {
  display: flex;
}
#todo-tasks {
  margin:0;
  padding: 0px;
  list-style-type: none;
}
.todo-task__item .todo__title {
  list-style:none;
}
#new-task button{
  outline:none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3A3a;
}
/* Heading */
.title,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
#new-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
#new-task:focus {
  color: #333;
}

/* New Task */
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}
#add-task > button:hover {
  color: #0fc57c;
}

/* Task list */
.todo-task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed-tasks__item{
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editMode{
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li > * {
  vertical-align: middle;
}

li > .todo-task__input {
  margin: 0 10px;
}
li > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
li >    .task {
  width: 226px
}
li > button.delete:hover {
  color: #CF2323;
}
button.delete .image-remove {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
button.delete image-remove:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
ul .editMode input[type="text"] {
  display:none
}

.editMode input[type="text"] {
  display:inline-block;
  width:224px
}

#todo-tasks .editMode label {
  display:none;
}